{
    "server_id"                 : "AndruavAuth", // server id
    "server_ip"                 : "0.0.0.0",
    "server_port"               : 19408,
    "webadmin_port"             : 19418,
    "enable_SSL"                : true,
    "dbIP"                      : "173.17.0.3",
    "dbuser"                    : "andruav",
    "dbpassword"                : "kaware3",
    "dbdatabase"                : "andruav",
    "ignoreEmail"               : true, // dont send email with access code -SHOULD BE ALWAYS FALSE-.
    
    
    "s2s_ws_listening_ip"       : "0.0.0.0", //"Andruav Auth",
    "s2s_ws_listening_port"     : "19001", 
    "ssl_key_file"              : "ssl/example.key",
    "ssl_cert_file"             : "ssl/example.crt",     
    

    "skip_hardware_validation"  : true, 

    "andruavSecurityEx"         : "Andruav Web Panel, Andruav Geo Fence Manager,  DRONE ENGAGE Web Client, Andruav Mobile, uavos",
    "APPVERSION"    : "{\"andruav\": \"4.00.00\", \"uavos\": \"1.0.0\"}"
 }
