{
    "server_id"                 : "AndruavAuth", // server id
    "server_ip"                 : "0.0.0.0",
    "server_port"               : 19408,
    
    "use_single_account_mode"   : true,
    "single_account_user_name"  : "single@airgap.droneengae.com",
    "single_account_access_code": "test",
    

    // use fields below if use_single_account_mode is false
    "dbIP"                      : "172.19.0.3",
    "dbuser"                    : "USERNAME",
    "dbpassword"                : "PASSWORD",
    "dbdatabase"                : "DBNAME",
    
    // dont send email with access code
    "ignoreEmail"               : true, 
    
    "smtp_host"                 : "smtp.email.com",
    "smtp_port"                 : 465,
    "smtp_user"                 : "myemail@mail.com",
    "smtp_password"             : "password",
    "smtp_ssl"                  : true,
    
    
    "s2s_ws_target_ip"          : "0.0.0.0",
    "s2s_ws_target_port"        : "0",
    "s2s_ws_listening_ip"       : "airgap.droneengage.com",
    "s2s_ws_listening_port"     : "19001", 
    
    "enable_SSL"                : true,
    "ssl_key_file"              : "ssl/privkey.pem",
    "ssl_cert_file"             : "ssl/fullchain.pem",     
    

    "skip_hardware_validation"  : true, 

    

    "andruavSecurityEx"         : "Andruav Web Panel, Andruav Geo Fence Manager,  DRONE ENGAGE Web Client, Andruav Mobile, uavos",
    "APPVERSION"    : "{\"andruav\": \"4.00.00\", \"uavos\": \"1.0.0\"}"
 }
