{
    "server_id"                 : "AndruavAuth", // server id
    "server_ip"                 : "0.0.0.0",
    "server_port"               : 19408,
    "webadmin_port"             : 19418,
    
    
    "use_single_account_mode"   : true,
    "single_account_user_name"  : "single@airgap.droneengae.com",
    "single_account_access_code": "test",
    //JSON User database file.
    "db_users"                  :"./db_users.db",
    

    // use fields below if use_single_account_mode is false
    "dbIP"                      : "173.17.0.3",
    "dbuser"                    : "andruav",
    "dbpassword"                : "kaware3",
    "dbdatabase"                : "andruav",
    
    // logging
    "enableLog"                 : false,
    "log_directory"             : "./logs/",
    "log_timeZone"              : "GMT",
    "log_detailed"              : true,

    // dont send email with access code -SHOULD BE ALWAYS FALSE-.
    "ignoreEmail"               : true, 
    

    
    "s2s_ws_listening_ip"       : "0.0.0.0", //"Andruav Auth",
    "s2s_ws_listening_port"     : "19001", 
    
    "enable_SSL"                : true,
    "ssl_key_file"              : "ssl/privkey.pem",
    "ssl_cert_file"             : "ssl/fullchain.pem",     
    

    "skip_hardware_validation"  : true, 

    "andruavSecurityEx"         : "Andruav Web Panel, Andruav Geo Fence Manager,  DRONE ENGAGE Web Client, Andruav Mobile, uavos",
    "APPVERSION"    : "{\"andruav\": \"4.00.00\", \"uavos\": \"1.0.0\"}"
 }
