{
    "server_id"                 : "AndruavAuth", // server id
    "server_ip"                 : "0.0.0.0",
    "server_port"               : 19408,
    "enable_SSL"                : true,
    "dbIP"                      : "172.19.0.3",
    "dbuser"                    : "andruav",
    "dbpassword"                : "kaware3",
    "dbdatabase"                : "andruav",
    "ignoreEmail"               : true, // dont send email with access code
    
    
    "s2s_ws_target_ip"          : "0.0.0.0",
    "s2s_ws_target_port"        : "0",
    "s2s_ws_listening_ip"       : "127.0.0.1", //"Andruav Auth",
    "s2s_ws_listening_port"     : "19001", 
    "ssl_key_file"              : "fake-keys/privkey.pem",
    "ssl_cert_file"             : "fake-keys/fullchain.pem",     
    

    "skip_hardware_validation"  : true, 

    "andruavSecurityEx"         : "Andruav Web Panel, Andruav Geo Fence Manager,  DRONE ENGAGE Web Client, Andruav Mobile, uavos",
    "APPVERSION"    : "{\"andruav\": \"4.00.00\", \"uavos\": \"1.0.0\"}"
 }
